/* css styles */
/*-- scss:defaults --*/
$font-family-sans-serif: 'Atkinson Hyperlegible';
$font-family-monospace: 'Fira Mono';
$bs-body-font-family: 'Atkinson Hyperlegible';
$web-font-path: "No";

$font-size-root: 18px !default;

#title-block-header.quarto-title-block.default .quarto-title h1.title {
  margin-bottom: 0.5rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; font-weight: 500; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

//
// Color system
//
$white: #fff !default;
$black: #000 !default;

$sandstone-blue: #700000 !default;
$bluegray: #0b0000 !default;
$darker-green: #8c3232 !default;
$light-gray: #f0e5e5!default;
$mid-gray: #555555		!default;
$darker-gray: #333333 !default;

// Navbar
$navbar-bg: $sandstone-blue !default;
$navbar-fg: $light-gray !default;
$navbar-hl: $white !default;

// Links
$link-color: $darker-green !default;

// Code blocks
$code-block-bg: $light-gray !default;

/*-- scss:rules --*/
// overrides selectors from Sandstone that take precedence
// over $navbar-hl
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: $white;
}


// make blockquote text dark enough
.blockquote {
  color: $mid-gray;
}

/*-- scss:rules --*/

/* atkinson-hyperlegible-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/atkinson-hyperlegible-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* atkinson-hyperlegible-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 400;
    src: url('./fonts/atkinson-hyperlegible-v11-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* atkinson-hyperlegible-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/atkinson-hyperlegible-v11-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* atkinson-hyperlegible-700italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 700;
    src: url('./fonts/atkinson-hyperlegible-v11-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* fira-mono-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/fira-mono-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }